<% @stream ||= stream %>
<div class="box" id="box-users-show">
  <span class="top"><%=t :stream %></span>
  <div style="margin-top:10px;">
    <span class="profile-title"><%=h @stream.title %></span>&nbsp;
  </div>
  <p style="margin-top:20px">
  <% if @stream.provider == "justintv" %>
  	<object type="application/x-shockwave-flash" height="528" width="938" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=<%= @stream.identifier %>" bgcolor="#000000" id="live_embed_player_flash" class="videoplayer">
		<param name="allowFullScreen" value="true" />
		<param name="allowScriptAccess" value="always" />
		<param name="allowNetworking" value="all" />
		<param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
		<param name="flashvars" value="hostname=www.twitch.tv&channel=<%= @stream.identifier %>&auto_play=true&start_volume=50" />
	</object>
  <% elsif @stream.provider == "own3dtv" %>
  	<object width="938" height="528">
        <param name="movie" value="http://www.own3d.tv/livestream/<%= @stream.identifier %>;autoplay=true" />
        <param name="allowscriptaccess" value="always" />
        <param name="allowfullscreen" value="true" />
        <param name="wmode" value="transparent" />
        <embed src="http://www.own3d.tv/livestream/<%= @stream.identifier %>;autoplay=true" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="938" height="528" wmode="transparent"></embed></object>
  <% end %>
  </p>
  <div class="clear"> </div>  
</div>
